<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suk.yuzhiyun.my12306">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:icon="@drawable/desktop_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginAndRegister.control.LoginRegisterActivity"
            android:label="@string/title_activity_login_register"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginAndRegister.control.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginAndRegister.control.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ChooseCityActivity"
            android:label="@string/title_activity_choose_city"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".main.MainActivity"
            android:name=".order.control.activity.OrderActivity"
            android:label="@string/title_activity_infor_and_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ticketList.control.TicketListActivity"
            android:label="@string/title_activity_ticket_list"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".personalInfor.InforActivity"
            android:label="@string/title_activity_infor"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ticketList.control.PayMoneyActivity"
            android:label="@string/title_activity_pay_moneyctivity"
            android:parentActivityName=".ticketList.control.TicketListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".personalInfor.InforActivity"
            android:name=".personalInfor.EditInforActivity"
            android:label="@string/title_activity_edit_infor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>